* {
    margin: 0;
    padding: 0; 
}

body{
      
    color: black;
     background-image:url(dog.png);
     height: 1621px; 
     background-position: center;
     background-size: cover;
      font-style: normal;
     font-size:60px;
     line-height: 239px
     

}



 h1 {
        font-family:"Open Sans";
        font-size: 200px;
        text-indent:30px;

}


.texte {
text-indent: 30px;
}

table{
    
        border-collapse: collapse;
    }
    td, th /* Mettre une bordure sur les td ET les th */
    {
        border: 1px solid black;
    }
